<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <p class="is-size-4 mb-3" style="color: white">レシピを新しく投稿する </p>
        <%= form_with model: @recipe, local: true do |f| %>
          <div class="field">
            <%= f.label :name, "レシピ名" %>
            <%= f.text_field :name, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :maker, "レシピ元" %>
            <%= f.text_field :maker, class: "input" %>
          </div>
          <div class="actions">
            <%= f.submit "投稿する", class: "button mt-3 is-success"  %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>